[Unit]
Description=Run loong-updator every 20 minutes

[Timer]
OnBootSec=20min
OnUnitActiveSec=20min
Unit=lupdator.service

[Install]
WantedBy=timers.target
